#Power By Marker .YLCMS 2013
#Fri May 10 21:12:24 CST 2013
secret_key=iSDCRbyRZP0\=
url=http\://www.yl-blog.com/
upload_path=upload/
dev_mode=false
themes_path=themes/red/
themes_cache=temp/
keywords=Java 建站 cms 简单的模板
icp=ICP备案号
copyright=雨林工作室 版权所有
mastermail=349865361@qq.com
title=蘑菇建站系统官方网站
index_page=index
error_page=error.html
description=蘑菇内容管理系统为您提供强大的网站基础支持，提供各种插件和View模型给用户，产品定制化强，后台提供商店在线更新一些主题或者是插件  Power By marker
gzip=true